{% load static %}
{% load humanize %}

<!DOCTYPE HTML5>
<html>
<head>
<meta charset="UTF-8">


<style>
table1 {
   position: absolute;
   width: 100%;
   border: 1px solid #999;
   text-align: left;
   border-collapse: collapse;
   margin: 0 0 1em 0;
   caption-side: top;
}
caption, td, th {
   padding: 0.1em;
}
th, td {
   border-bottom: 0.5px solid #999;
   width: 50%;
}
caption {
   font-weight: bold;
   font-style: italic;
}
</style>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logotipo.ico' %}"/>
    <title>Venta numero: {{ miventa.no_venta }}</title>
    <img alt="" src="{% static 'header.JPG' %}" height="300px" width="1800px">

</head>
<body>

    <h2>DATOS DE LA VENTA NUMERO: {{ miventa.no_venta }}</h2>

    <p><font size="4">
    <table style="border: hidden">
        <tr style="border: hidden">
            <td style="border: hidden"><strong>NIT: </strong>{{ miventa.comprador.nit }}</td>
            <td style="border: hidden"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fecha y hora: </strong>{{ miventa.fecha | date:'d-m-Y' }} {{ miventa.fecha | date:'h:i a' }}</td>
        </tr>
        <tr style="border: hidden">
            <td style="border: hidden"><strong>Cliente: </strong>{{ miventa.comprador }}</td>
            <td style="border: hidden"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tipo de pago: </strong>{{ miventa.pago }}</td>
        </tr>
        <tr style="border: hidden">
            <td style="border: hidden"><strong>Ref. de entrega: </strong>{{ miventa.referencia }}</td>
            <td style="border: hidden"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Vendedor: </strong>{{ miventa.vendedor }}</td>
        </tr>
    </table>
    </p>


<h2><center>Detalle de la venta</center></h1>
<table>
    <tr>
        <th><h2>Cantidad</h2></th>
        <th><h2>Producto</h2></th>
        <th><h2>Precio unitario</h2></th>
        <th><h2>Subtotal</h2></th>
    </tr>
    {% for deta1 in deta %}
        {% if miventa.no_venta == deta1.id_venta.no_venta %}
        <tr>
        <td><center>{{ deta1.canti }}</center></td>
        <td><center>{{ deta1.id_prod }}</center></td>
        <td><center>Q{{ deta1.precio | intcomma  }}</center></td>
        <td><center>Q{{ deta1.subtotal | intcomma  }}</center></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
</font>
<h1 align="right">Total: Q{{ miventa.total | intcomma}}0&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
<br>
<h1 align="right">Recibido por:________________________</h1>
</body>
</html>
